* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  position: relative;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 80px;
  background: #eeeeee
}