{% extends 'base.html' %}
{% block title %}
FAQ
{% endblock %}
{% block content %}
<h1 style="text-align: center;">About Us</h1>
<li style="list-style-type: None;" >

    <div  class="container com-md6 border rounded shadow p-4 mb-4" style="padding: -10px; background-color: #aadefe">
        <h3 style="text-align: center">Инсаф</h3> <br>
        <h5 style="text-align: center">Главный разраб этого сайта</h5>
        <a href="https://vk.com/insaf9"><h5  style="text-align: center">Связаться с ним</h5></a>
    </div></li>
    <div  class="container com-md6 border rounded shadow p-4 mb-4" style="padding: -10px; background-color: #aadefe">
        <h3 style="text-align: center">Жасмин</h3> <br>
        <h5 style="text-align: center">Главный дизайнер и идейщик сайта. Она придумала Rabbit</h5>
        <a href="https://vk.com/yasya04"><h5  style="text-align: center">Связаться с ней</h5></a>
    </div></li>
<li style="list-style-type: None;" >
    <h1 style="text-align: center">FAQ</h1>
    <div  class="container com-md6 border rounded shadow p-4 mb-4" style="padding: -10px; background-color: #aadefe">
        <p>1. Rabbit <strong>создан только для вопросов</strong>, и если там будут обычный посты, то они будут сразу удалены</p>
        <p>2. Посты могут редактировать и удалять только админы.</p>
        <p>3. Со всеми вопросами обращаться на эту почту: sabirzyanov439@gmail.com или же к главному разрабу, указанному выше</p>
        <p>4. Необходимо зарегистрироваться или войти, чтобы разблокировать новые функции, такие как чат, рейтинг постов, и так далее</p>
        <p>5. Поставьте 5 пожалуйста</p>
    </div></li>
    </li>
{% endblock %}