{% extends "base.html" %}

{% block title %}
    Post
{% endblock %}

{% block content %}
{% for item in news%}
{% if current_user.is_admin %}
<h2 style="text-align: center;">{{item.title}}{{admin}}</h2>
{% else %}
<h2 style="text-align: center;">{{item.title}}</h2>
{% endif %}

<div style="background-color: #FFFACD" id="c{{item.id}}" class="container col-md6 border rounded shadow p-4 mb-4">
    <script>
       function decodeHTMLEntities(text) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = text;
        return textArea.value;
       }
       var content = decodeHTMLEntities('{{item.content}}')
       c{{item.id}}.insertAdjacentHTML('afterbegin', content);
    </script>
    {% if current_user.is_admin and item.is_private == True%}
    <a href="/post_output_public/{{item.id}}" class="btn btn-primary shadow" style="background: #e0fafb;
                                    outline: none;
                                    border: 0;
                                    color: #111111">Publish</a>

    {% endif %}

    {% if current_user.is_admin or current_user.id == item.id %}
    <a href="/post_delete/{{item.id}}" class="btn btn-primary shadow" style="background: #fa8072;
                                    outline: none;
                                    border: 0;
                                    color: #111111">Delete</a>
    <a href="/news/{{item.id}}" class="btn btn-primary shadow" style="background: #e0fafb;
                                    outline: none;
                                    border: 0;
                                    color: #111111">Edit</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <p></p>
    {% if item.is_private == False %}
    <form action=""  method="GET">
    <div class="star-rating">
      <div class="star-rating__wrap">
          <div style="width: 160px;
                        height: 16px;
                         padding-right: 25px">
              <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="{{request.args.get('rating', '5')}}">
              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="5 out of 5 stars"></label>
              <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="{{request.args.get('rating', '4')}}">
              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="4 out of 5 stars"></label>
              <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="{{request.args.get('rating', '3')}}">
              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
              <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="{{request.args.get('rating', '2')}}">
              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="2 out of 5 stars"></label>
              <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="{{request.args.get('rating', '1')}}">
              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="1 out of 5 stars"></label>
          </div>
          <div style="margin-top: -22px;">{{result}}</div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Send rate</button>
      </div>
    </div>
    </form>
    {% endif %}
    {% endif %}

</div>


{% endfor %}

{% endblock %}
{% block comments %}
<h3 style="text-align: center;">{{com}}</h3>
<div class="container border rounded shadow p-4 mb-4 " style="margin-top: 20px;background-color: #FFFACD;">
<div class="col-sm-2"></div>
<form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>{{ form.comment_content.label }}<br>
            {{ form.comment_content(class="form-control") }}<br>
            {% for error in form.comment_content.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary shadow") }}</p>
</form>

</div>
{% for c in comments %}
    <li style="list-style-type: None;" >

    <div  class="container com-md6 border rounded shadow p-4 mb-4" style="padding: -10px; background-color: #aadefe">
        <h6>{{c.user_name}}:</h6>
        <div  style="margin-left: 20px; margin-bottom: -10px;">
            {{c.comment_content}}
        </div>
    </div></li>
{% endfor %}
{% endblock %}


